<ion-view>
  <ion-tabs class="tabs-icon-only has-header">
    <ion-tab title="Map" icon-off="ion-android-map" href="#/home/map">
      <ion-nav-view name="home-map"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile" icon-off="ion-android-person"  href="#/home/profile">
      <ion-nav-view name="home-profile"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Friends" icon-off="ion-android-people" href="#/home/friends">
      <ion-nav-view name="home-friends"></ion-nav-view>       
    </ion-tab>
  </ion-tabs>
</ion-view>