<ion-view>
    <ion-content class="content has-header">
        <h3 class="title">
            Login Screen
        </h3>
        <p>You're logged on as {{user.username}}</p>
        <button class="button button-block button-assertive" ng-click="goToHome()">Home</button>
        <button class="button button-block button-assertive" ng-click="showLoginModal()">Change Logged User</button>
        <button class="button button-block button-assertive" ng-click="showRegModal()">Register</button>

    </ion-content>
</ion-view>